<% flash.each do |type, message| %>
  <% style = type.to_s == "alert" ? "bg-red-100 text-red-800 border-red-300" : "bg-green-100 text-green-800 border-green-300" %>
  <div class="<%= style %> border rounded px-4 py-2 mb-3"><%= message %></div>
<% end %>
