button,
a.button {
  border: 1px solid black;
  border-radius: 4px;
  font-size: 0.875rem; /* tailwind sm */
  line-height: 1.25rem; /* tailwind sm */
  cursor: pointer;
  padding: 4px;
}

button.primary,
a.primary {
  background: red;
}

button.primary:hover,
a.primary:hover {
  background-color: white;
  color: red;
}

button.secondary,
a.secondary {
  color: red;
}

button.secondary:hover,
a.secondary:hover {
  background: red;
  color: black;
}
