<% content_for :title, "Cinemapi | Backoffice | Edit theater" %>

<h2 class="font-bold block">Editing Theater:</h2>

<div>
  <%= render 'form', theater: @theater %>
</div>

<%= link_to "Back", theaters_path, class: "button secondary p-1 mt-5" %>