<% content_for :title, "Cinemapi | Backoffice | Theaters" %>

<div class="w-full">
  <div class="flex">
    <h2 class="font-bold mr-3">Theaters</h2>
    <button class="primary">New</button>
  </div>
  <div>
    <%= render @theaters %>
  </div>
</div>